@model List<ResultToDoDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController1/_AdminLayout.cshtml";
}
<br />

<table class="table table-bordered">
  
    <tr>
        
        <th>İsim</th>
        <th>ToDo</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Mail Gönder</th>
       
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            
            <td>@item.userName</td>
            <td>@item.Todo</td>
            <td><a href="/ToDo/DeleteToDo/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/ToDo/UpdateToDo/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
            <td><a href="/Mail/Index/" class="btn mb-1 btn-rounded btn-outline-dark">Mail Gönder</a></td>


        </tr>
    }
</table>
<a href="/ToDo/AddToDo/" class="btn mb-1 btn-rounded btn-outline-info">Yeni ToDo</a>

